USE [Online Cosmatics Store]
GO
/****** Object:  Table [dbo].[ingredient]    Script Date: 06/03/2025 5:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[quantity] [float] NOT NULL,
	[createBy] [varchar](30) NULL,
	[updateBy] [varchar](30) NULL,
	[createDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 06/03/2025 5:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[categoryId] [int] NULL,
	[brandId] [int] NULL,
	[itemName] [varchar](30) NOT NULL,
	[cost] [float] NOT NULL,
	[quantity] [float] NOT NULL,
	[image] [varchar](max) NOT NULL,
	[description] [varchar](50) NULL,
	[discount] [float] NULL,
	[discountFlag] [bit] NULL,
	[Rate] [float] NULL,
	[createBy] [varchar](30) NULL,
	[updateBy] [varchar](30) NULL,
	[createDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
	[isActive] [bit] NULL,
	[Price]  AS ([Cost]-[Discount]),
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_ingredient]    Script Date: 06/03/2025 5:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_ingredient](
	[itemId] [int] NOT NULL,
	[ingredientId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[itemId] ASC,
	[ingredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemRequest]    Script Date: 06/03/2025 5:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemRequest](
	[ReqId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[QuantityRequested] [int] NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[Description] [varchar](255) NULL,
	[CreateBy] [varchar](30) NULL,
	[UpdateBy] [varchar](30) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[StatusId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupType]    Script Date: 06/03/2025 5:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupType](
	[id] [int] NOT NULL,
	[Type] [nchar](10) NULL,
	[CreateBy] [nchar](10) NULL,
	[updateBy] [nchar](10) NULL,
	[createDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_LookupType_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupValue]    Script Date: 06/03/2025 5:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupValue](
	[Id] [int] NOT NULL,
	[TypeId] [int] NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_LookupValue_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 06/03/2025 5:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[TotalAmount] [float] NOT NULL,
	[StatusId] [int] NULL,
	[CreateBy] [varchar](30) NULL,
	[UpdateBy] [varchar](30) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 06/03/2025 5:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ItemId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[ItemPrice] [float] NOT NULL,
	[DiscountAmount] [float] NULL,
	[Rate] [float] NULL,
	[CreateBy] [varchar](30) NULL,
	[UpdateBy] [varchar](30) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[Subtota]  AS ([Quantity]*[ItemPrice]-[DiscountAmount]),
 CONSTRAINT [PK__OrderIte__57ED06818D43C90D] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[person]    Script Date: 06/03/2025 5:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](30) NOT NULL,
	[lastName] [varchar](30) NOT NULL,
	[ProfileImage] [varchar](max) NULL,
	[email] [varchar](50) NOT NULL,
	[phoneNumber] [varchar](10) NOT NULL,
	[createBy] [varchar](30) NULL,
	[updateBy] [varchar](30) NULL,
	[createDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 06/03/2025 5:17:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[wishid] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NOT NULL,
	[itemid] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[createDate] [datetime] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[wishid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ingredient] ON 

INSERT [dbo].[ingredient] ([id], [name], [quantity], [createBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (1, N'Shea Butter', 100, N'admin', N'admin', CAST(N'2025-02-28T02:04:18.133' AS DateTime), CAST(N'2025-02-28T02:04:18.133' AS DateTime), 1)
INSERT [dbo].[ingredient] ([id], [name], [quantity], [createBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (2, N'Hyaluronic Acid', 50, N'admin', N'admin', CAST(N'2025-02-28T02:04:18.133' AS DateTime), CAST(N'2025-02-28T02:04:18.133' AS DateTime), 1)
INSERT [dbo].[ingredient] ([id], [name], [quantity], [createBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (3, N'Vitamin C', 75, N'admin', N'admin', CAST(N'2025-02-28T02:04:18.133' AS DateTime), CAST(N'2025-02-28T02:04:18.133' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ingredient] OFF
GO
SET IDENTITY_INSERT [dbo].[item] ON 

INSERT [dbo].[item] ([id], [categoryId], [brandId], [itemName], [cost], [quantity], [image], [description], [discount], [discountFlag], [Rate], [createBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (1, 20001, 30001, N'Lipstick Matte', 5, 26, N'lipstick.jpg', N'Long-lasting matte lipstick', 2, 1, 4.5, N'admin', N'admin', CAST(N'2025-02-28T01:53:39.593' AS DateTime), CAST(N'2025-02-28T01:53:39.593' AS DateTime), 1)
INSERT [dbo].[item] ([id], [categoryId], [brandId], [itemName], [cost], [quantity], [image], [description], [discount], [discountFlag], [Rate], [createBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (2, 20001, 30002, N'Foundation', 8.5, 37, N'foundation.jpg', N'Full coverage foundation', 3, 1, 4.8, N'admin', N'admin', CAST(N'2025-02-28T01:53:39.593' AS DateTime), CAST(N'2025-02-28T01:53:39.593' AS DateTime), 1)
INSERT [dbo].[item] ([id], [categoryId], [brandId], [itemName], [cost], [quantity], [image], [description], [discount], [discountFlag], [Rate], [createBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (3, 20001, 30003, N'Eyeliner', 3, 60, N'eyeliner.jpg', N'Waterproof black eyeliner', 1.5, 1, 4.7, N'admin', N'admin', CAST(N'2025-02-28T01:53:39.593' AS DateTime), CAST(N'2025-02-28T01:53:39.593' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[item] OFF
GO
INSERT [dbo].[item_ingredient] ([itemId], [ingredientId]) VALUES (1, 1)
INSERT [dbo].[item_ingredient] ([itemId], [ingredientId]) VALUES (1, 6)
INSERT [dbo].[item_ingredient] ([itemId], [ingredientId]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[ItemRequest] ON 

INSERT [dbo].[ItemRequest] ([ReqId], [CustomerId], [QuantityRequested], [ProductName], [Description], [CreateBy], [UpdateBy], [CreateDate], [UpdateDate], [IsActive], [StatusId]) VALUES (1, 2, 1, N'Lipstick Matte', N'Long-lasting matte lipstick', N'admin', N'admin', CAST(N'2025-02-28T02:17:57.917' AS DateTime), CAST(N'2025-02-28T02:17:57.917' AS DateTime), 1, 10003)
INSERT [dbo].[ItemRequest] ([ReqId], [CustomerId], [QuantityRequested], [ProductName], [Description], [CreateBy], [UpdateBy], [CreateDate], [UpdateDate], [IsActive], [StatusId]) VALUES (2, 3, 2, N'Foundation', N'Full coverage foundation', N'admin', N'admin', CAST(N'2025-02-28T02:17:57.917' AS DateTime), CAST(N'2025-02-28T02:17:57.917' AS DateTime), 1, 10002)
INSERT [dbo].[ItemRequest] ([ReqId], [CustomerId], [QuantityRequested], [ProductName], [Description], [CreateBy], [UpdateBy], [CreateDate], [UpdateDate], [IsActive], [StatusId]) VALUES (3, 4, 3, N'Eyeliner', N'Waterproof black eyeliner', N'admin', N'admin', CAST(N'2025-02-28T02:17:57.917' AS DateTime), CAST(N'2025-02-28T02:17:57.917' AS DateTime), 1, 10003)
SET IDENTITY_INSERT [dbo].[ItemRequest] OFF
GO
INSERT [dbo].[LookupType] ([id], [Type], [CreateBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (10, N'status    ', NULL, NULL, CAST(N'2025-02-27T22:27:33.147' AS DateTime), NULL, 1)
INSERT [dbo].[LookupType] ([id], [Type], [CreateBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (20, N'category  ', NULL, NULL, CAST(N'2025-02-27T22:27:43.923' AS DateTime), NULL, 1)
INSERT [dbo].[LookupType] ([id], [Type], [CreateBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (30, N'brand     ', NULL, NULL, CAST(N'2025-02-27T22:27:53.197' AS DateTime), NULL, 1)
GO
INSERT [dbo].[LookupValue] ([Id], [TypeId], [Name]) VALUES (10001, 10, N'Pending   ')
INSERT [dbo].[LookupValue] ([Id], [TypeId], [Name]) VALUES (10002, 10, N'Approved  ')
INSERT [dbo].[LookupValue] ([Id], [TypeId], [Name]) VALUES (10003, 10, N'Rejected  ')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [CustomerId], [TotalAmount], [StatusId], [CreateBy], [UpdateBy], [CreateDate], [UpdateDate], [IsActive]) VALUES (1, 2, 203.95999999999998, 10001, N'admin', N'admin', CAST(N'2025-02-28T02:25:38.823' AS DateTime), CAST(N'2025-02-28T02:25:38.823' AS DateTime), 1)
INSERT [dbo].[Order] ([OrderId], [CustomerId], [TotalAmount], [StatusId], [CreateBy], [UpdateBy], [CreateDate], [UpdateDate], [IsActive]) VALUES (2, 3, 37.46, 10002, N'admin', N'admin', CAST(N'2025-02-28T02:25:38.823' AS DateTime), CAST(N'2025-02-28T02:25:38.823' AS DateTime), 1)
INSERT [dbo].[Order] ([OrderId], [CustomerId], [TotalAmount], [StatusId], [CreateBy], [UpdateBy], [CreateDate], [UpdateDate], [IsActive]) VALUES (3, 4, 29.48, 10003, N'admin', N'admin', CAST(N'2025-02-28T02:25:38.823' AS DateTime), CAST(N'2025-02-28T02:25:38.823' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemId], [OrderId], [ItemId], [Quantity], [ItemPrice], [DiscountAmount], [Rate], [CreateBy], [UpdateBy], [CreateDate], [UpdateDate], [IsActive]) VALUES (1, 1, 1, 7, 12.99, 2, 4.5, N'admin', N'admin', CAST(N'2025-02-28T02:25:38.827' AS DateTime), CAST(N'2025-02-28T02:25:38.827' AS DateTime), 1)
INSERT [dbo].[OrderItem] ([OrderItemId], [OrderId], [ItemId], [Quantity], [ItemPrice], [DiscountAmount], [Rate], [CreateBy], [UpdateBy], [CreateDate], [UpdateDate], [IsActive]) VALUES (2, 1, 2, 1, 19.99, 1, 4.8, N'admin', N'admin', CAST(N'2025-02-28T02:25:38.827' AS DateTime), CAST(N'2025-02-28T02:25:38.827' AS DateTime), 1)
INSERT [dbo].[OrderItem] ([OrderItemId], [OrderId], [ItemId], [Quantity], [ItemPrice], [DiscountAmount], [Rate], [CreateBy], [UpdateBy], [CreateDate], [UpdateDate], [IsActive]) VALUES (3, 2, 3, 3, 9.99, 3, 4.7, N'admin', N'admin', CAST(N'2025-02-28T02:25:38.827' AS DateTime), CAST(N'2025-02-28T02:25:38.827' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[person] ON 

INSERT [dbo].[person] ([id], [firstName], [lastName], [ProfileImage], [email], [phoneNumber], [createBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (2, N'Sarah', N'Johnson', N'profile1.jpg', N'sarah.johnson@email.com', N'0791234567', N'admin', N'admin', CAST(N'2025-02-28T01:29:31.160' AS DateTime), CAST(N'2025-02-28T01:29:31.160' AS DateTime), 1)
INSERT [dbo].[person] ([id], [firstName], [lastName], [ProfileImage], [email], [phoneNumber], [createBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (3, N'Emily', N'Smith', N'profile2.jpg', N'emily.smith@email.com', N'0782345678', N'admin', N'admin', CAST(N'2025-02-28T01:29:31.160' AS DateTime), CAST(N'2025-02-28T01:29:31.160' AS DateTime), 1)
INSERT [dbo].[person] ([id], [firstName], [lastName], [ProfileImage], [email], [phoneNumber], [createBy], [updateBy], [createDate], [updateDate], [isActive]) VALUES (4, N'Olivia', N'Brown', N'profile3.jpg', N'olivia.brown@email.com', N'0773456789', N'admin', N'admin', CAST(N'2025-02-28T01:29:31.160' AS DateTime), CAST(N'2025-02-28T01:29:31.160' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[person] OFF
GO
SET IDENTITY_INSERT [dbo].[wishlist] ON 

INSERT [dbo].[wishlist] ([wishid], [customerid], [itemid], [quantity], [createDate], [isActive]) VALUES (1, 2, 1, 2, CAST(N'2025-02-28T02:31:52.170' AS DateTime), 1)
INSERT [dbo].[wishlist] ([wishid], [customerid], [itemid], [quantity], [createDate], [isActive]) VALUES (2, 3, 2, 1, CAST(N'2025-02-28T02:31:52.170' AS DateTime), 1)
INSERT [dbo].[wishlist] ([wishid], [customerid], [itemid], [quantity], [createDate], [isActive]) VALUES (3, 4, 3, 3, CAST(N'2025-02-28T02:31:52.170' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[wishlist] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__person__4849DA01D99A4D1B]    Script Date: 06/03/2025 5:17:36 PM ******/
ALTER TABLE [dbo].[person] ADD UNIQUE NONCLUSTERED 
(
	[phoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__person__AB6E6164CFD5A461]    Script Date: 06/03/2025 5:17:36 PM ******/
ALTER TABLE [dbo].[person] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ingredient] ADD  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[ingredient] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[item] ADD  DEFAULT ((0)) FOR [discountFlag]
GO
ALTER TABLE [dbo].[item] ADD  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[item] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[ItemRequest] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ItemRequest] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LookupType] ADD  CONSTRAINT [DC]  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[LookupType] ADD  CONSTRAINT [DCa]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OrderItem] ADD  CONSTRAINT [DF__OrderItem__Creat__5DCAEF64]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[OrderItem] ADD  CONSTRAINT [DF__OrderItem__IsAct__5EBF139D]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[person] ADD  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[person] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[wishlist] ADD  DEFAULT (getdate()) FOR [createDate]
GO
ALTER TABLE [dbo].[wishlist] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[item_ingredient]  WITH CHECK ADD FOREIGN KEY([ingredientId])
REFERENCES [dbo].[ingredient] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[item_ingredient]  WITH CHECK ADD FOREIGN KEY([itemId])
REFERENCES [dbo].[item] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemRequest]  WITH CHECK ADD  CONSTRAINT [FK__ItemReque__Custo__656C112C] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[person] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemRequest] CHECK CONSTRAINT [FK__ItemReque__Custo__656C112C]
GO
ALTER TABLE [dbo].[ItemRequest]  WITH CHECK ADD  CONSTRAINT [FK_ItemRequest_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[LookupValue] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemRequest] CHECK CONSTRAINT [FK_ItemRequest_Status]
GO
ALTER TABLE [dbo].[LookupValue]  WITH CHECK ADD  CONSTRAINT [FK_LookupValue_LookupType1] FOREIGN KEY([TypeId])
REFERENCES [dbo].[LookupType] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LookupValue] CHECK CONSTRAINT [FK_LookupValue_LookupType1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[person] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__ItemI__60A75C0F] FOREIGN KEY([ItemId])
REFERENCES [dbo].[item] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK__OrderItem__ItemI__60A75C0F]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK__OrderItem__Order__5FB337D6] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK__OrderItem__Order__5FB337D6]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FK__wishlist__custom__534D60F1] FOREIGN KEY([customerid])
REFERENCES [dbo].[person] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [FK__wishlist__custom__534D60F1]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD FOREIGN KEY([itemid])
REFERENCES [dbo].[item] ([id])
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD CHECK  (([Rate]>=(0) AND [Rate]<=(5)))
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [CK__OrderItem__Rate__5CD6CB2B] CHECK  (([Rate]>=(0) AND [Rate]<=(5)))
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [CK__OrderItem__Rate__5CD6CB2B]
GO
ALTER TABLE [dbo].[person]  WITH CHECK ADD CHECK  (([email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[person]  WITH CHECK ADD  CONSTRAINT [CK_phoneNumber] CHECK  ((([phoneNumber] like '079%' OR [phoneNumber] like '078%' OR [phoneNumber] like '077%') AND len([phoneNumber])=(10)))
GO
ALTER TABLE [dbo].[person] CHECK CONSTRAINT [CK_phoneNumber]
GO
